version: '3'
services:
  workspace:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VARIANT=1.19-bullseye
        - NODE_VERSION=lts/*
    command: sleep infinity
    volumes:
      - ..:/workspace:cached
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
  mysql:
    image: mysql:5.7
    container_name: mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --sql-mode=ONLY_FULL_GROUP_BY,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
    env_file:
      - .env
    environment:
      TZ: 'Asia/Tokyo'
    expose:
      - 3306
    volumes:
      - db-volume:/var/lib/mysql
volumes:
  db-volume:
